<div class="form">
	<md-card class="demo-card demo-basic">
	  <md-toolbar color="primary">Insert your name and password to log in:</md-toolbar>
	  <md-card-content>
	    <form (submit)="login($event)">
	 		<md-input [(ngModel)]="loginModel.username" name="username" placeholder="Username"></md-input>
			<md-input [(ngModel)]="loginModel.password" name="password" placeholder="Password"></md-input>
            <md-card-actions align="end">
				<button md-raised-button type="submit" color="accent">Log in</button>
		    </md-card-actions>
	  	</form>
	  </md-card-content>
	</md-card>
</div>
