# Spring properties
spring:
  application:
     name: user-service

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8081/eureka/

# HTTP Server
server:
  port: 8083   # HTTP (Tomcat) port