
	<md-grid-list cols="3" >
		<md-grid-tile>
		<div class="card-container">
			<md-card class="demo-card demo-basic">
				<img md-card-image src='../assets/dogs/Sad_dog.jpg'>
			</md-card>
			</div>
	    </md-grid-tile>
	    <md-grid-tile>
				<md-card class="demo-card demo-basic">
					<md-card-header>
					 	<md-toolbar color="primary">Register your lonely dog here:</md-toolbar>
					</md-card-header>
				  	<br>
					<md-card-content>
					  <form (submit)="register($event)">
						<md-input [(ngModel)]="registerModel.username" required name="username" placeholder="Username"></md-input><br/>
					<md-input [(ngModel)]="registerModel.password" required type="password" name="password" placeholder="Password"></md-input><br/>
					<md-input [(ngModel)]="registerModel.name" required name="name" placeholder="Name"></md-input><br/>
					<md-input [(ngModel)]="registerModel.favoriteToy" required name="favoriteToy" placeholder="Favorite toy"></md-input><br/>
					<md-input [(ngModel)]="registerModel.description"  required name="description" placeholder="Description"></md-input>
					 	 	<p>Character: </p>
					 	 	<md-radio-group name="goodDogRG" [(ngModel)]="registerModel.goodDog">
						<md-radio-button value="true"  checked="true">A good dog</md-radio-button>
						<md-radio-button value="false">A beast</md-radio-button>
					         </md-radio-group>
					         <md-card-actions>
						<button md-raised-button type="submit" color="accent">Register!</button>
						<button md-raised-button color="primary" (click)="redirectToLogin($event)">Have an account?</button>
					   </md-card-actions>
					   
					    <div class="alert alert-danger" [hidden]="!errorMessage">Error, user exists! </div>
      
						</form>
					</md-card-content>
				</md-card>
		</md-grid-tile>
	</md-grid-list>
