<div class="form">
	<md-card class="demo-card demo-basic">
	  <md-toolbar color="primary">Register your lonely dog here:</md-toolbar>
	  <md-card-content>
	    <form (submit)="register($event)">
	 		<md-input [(ngModel)]="registerModel.username" name="username" placeholder="Username"></md-input><br/>
			<md-input [(ngModel)]="registerModel.password" name="password" placeholder="Password"></md-input><br/>
			<md-input [(ngModel)]="registerModel.name" name="name" placeholder="Name"></md-input><br/>
			<md-input [(ngModel)]="registerModel.favoriteToy" name="favoriteToy" placeholder="Favorite toy"></md-input><br/>
			<md-input [(ngModel)]="registerModel.description" name="description" placeholder="Description"></md-input>
	   	 	<p>Character: 
	   	 	<md-radio-group ng-model="data.group1">
				<md-radio-button name="goodDog" value="Good dog"  class="md-primary">A good dog</md-radio-button>
				<md-radio-button name="badDog" value="Bad dog">A beast</md-radio-button>
            </md-radio-group></p>
            <md-card-actions>
				<button md-raised-button type="submit" color="accent">Register!</button>
		    </md-card-actions>
	  	</form>
	  </md-card-content>
	</md-card>
</div>